.complete-void-color {
  color: violet !important;
}

.submit-button {
  margin-top: 12px;
}

.result-table {
  margin-top: 20px;
}

.yin-field {
  display: flex;
  td {
    background-color:rgba(255,255,255,0.88);
  }
}

.table-bordered {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid lightgray;
  padding: 10px;
  text-align: center;
}

.abnormal {
  color: red;
  font-weight: bold;
}

.table-bordered th {
  background-color: #F4EBDA;
}

.branch-stem th,
.branch-stem td {
  border-top: 2px solid #A6B5A5;
}

.qi-stem th,
.qi-stem td {
  border-top: 2px solid #A6B5A5;
}

.yang-chart {
  margin-top: 20px;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

.yang-chart td {
  padding: 10px;
  text-align: center;
  border: 1px solid lightgray;
}

.yin-detail div {
  margin-bottom: 16px;
}

.void {
  font-weight: bold;
  font-size: 20px;
  writing-mode: tb;
  margin: 0 16px 0 16px;
}

ul {
  margin: 0;
}

.birth-void {
  .void-list {
    display: list-item;
    padding: 0;
  }
}

.art-chart {
  border: 1px solid lightgray;  
  border-collapse: collapse;

  th, td {
    border-right: 1px solid lightgray; 

    &:last-child {
      border-right: none;
    }
  }

  th {
    border-bottom: 2px solid lightgray;
    padding: 4px;
  }

  td {
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 8px;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

/* 背景画像 */
.yang-chart {
  .arrow-tr {
    td {
      height: 5px;
    }
  }
  .arrow {
    width: 5px;
  }
  td {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100px; */
    height: 100px;
    background-color:rgba(255,255,255,0.88);
    background-blend-mode:lighten;
  }
  td:hover {
    background-color: rgba(254, 255, 218, 0.806);
    background-blend-mode:lighten;
  }
}

.default-relation {
  font-size: 1.5em;
  padding: 4px;
}

.user-relation {
  font-size: 1.5em; color: rgba(245, 151, 101, 1);
  padding:0 4px 0 4px;
}