.stem-lineage {
  margin-top: 20px;
  display: flex;
  .container {
      display: grid;
      grid-template-columns: repeat(5, 100px);
      grid-gap: 10px;
      text-align: center;
  }
  .box {
      border: 1px solid lightgray;
      padding: 10px;
      background-color: white;
  }
  .arrow {
      text-align: center;
  }
}