.stem-lineage {
  margin: 12px;
  display: flex;
  .container {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 4px;
    text-align: center;
  }
  .box {
    border: 1px solid lightgray;
    padding: 4px;
    background-color: white;
  }
  .arrow {
    text-align: center;
  }
}
