.yearly-fortune {
  margin: 12px;
  font-size: 12px;
  height: 500px;
  overflow: scroll;
  table thead th {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* tbody内のセルより手前に表示する */
    z-index: 10;
    background-color: #F4EBDA;
  }
  table {
    border-collapse:  collapse;
    td {
      background-color:rgba(255,255,255,0.88);
    }
    th, td {
      border: 1px solid lightgray;
      padding: 10px;
      text-align: center;
    }
  }
}
