<p><%= @email %> 様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが <%= @resource.unconfirmed_email %> に変更されようとしています。</p>
  <p>変更を完了するには、新しいメールアドレス宛に送信された確認メールのリンクをクリックしてください。</p>
<% else %>
  <p>メールアドレスが <%= @resource.email %> に変更されました。</p>
<% end %>
